*   {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
}

h1, a.portfolio-item-link {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 20pt;
    margin-bottom: 1em; /* restores spacing after the tag */
}

ul {
    list-style-type: disc; /* restores the bullet for line items */  
    list-style-position: inside;
}

header, #title-content, #body-content {
    background-color: #ffffff;
}

header {
    border-bottom: 2px solid #cccccc;
}

body {
    /* margin: 0px; */
    background-image: url('../images/circuit.png')
}

/* Note: will need to modify width for responsive design */
#title-content, #body-content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#title-content {
    height: 60px;
}

#title-text, #nav {
    position: absolute;
}

#title-text {
    left: 0px;
    bottom: 0px;
    background-color: #4aaaa5;
    height: 100%;
}

#myname {
    margin: 0px;
    padding: 10px;
    color: #ffffff;
}

#nav {
    right: 0px;
    bottom: 10px;
}

#body-heading {
    color: #4aaaa5;
}

#body-wrapper {
    padding: 40px 0px;
}
#horiz-rule {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 15px;
}

#body-content {
    padding: 20px;
}

#my-photo {
    float: left;
    margin-right: 15px;
}

.frm-para {
    margin-top: 16px;
}

.navitem {
    display: inline-block; /* this is needed to provide a fixed width for <a> elements */
    text-align: center;
    text-decoration: none;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a.navitem:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}


.body-para, ul, li {
    line-height: 170%;
    margin-bottom: 1em; /* restores spacing after the tag */
}

.textinput {
    width: 100%;
    font-size: 12pt;
}

.multiline {
    height: 200px;
}

.btn {
    font-size: 12pt;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
}

.col1of3, .col2of3, .col3of3 {
    width: 33.3%
}

/* Note: will need to modify width for responsive design */
.portfolio-item {
    width: 280px;
    height: 200px;
}

/* Note: will need to modify width for responsive design */
.portfolio-item-link {
    display: inline-block;
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    text-decoration: none;
    width: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    top: -100px;

}

.portfolio-item-link:hover {
    background-color: #ffffff;
    color: #4aaaa5;
}

footer {
    position: fixed;
    text-align: center;
    background-color: #666666;
    color: #dddddd;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    padding-top: 30px;
    font-size: 10pt;
    bottom: 0px;
}

@media screen and (max-width: 992px) {
    /* change the BG color to see if it's working */
    header, #title-content, #body-content {
        background-color: #d6f2f4;
    }    
    /* change the width of the title and body to the next smaller max-width*/
    #title-content, #body-content {
        width: 720px;
    }
}

@media screen and (max-width: 768px) {
    /* change the BG color to see if it's working */
    header, #title-content, #body-content {
        background-color: #cccccc;
    }    
    /* change the width of the title and body to the next smaller max-width*/
    #title-content, #body-content {
        width: 540px;
    }
}

@media screen and (max-width: 576px) {
    /* change the BG color to see if it's working */
    header, #title-content, #body-content {
        background-color: #aaaaaa;
    }    
    /* change the width of the title and body to the next smaller max-width*/
    #title-content, #body-content {
        width: 480px;
    }
}