*   {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
}

h1, a.portfolio-item-link {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h1 {
    font-size: 20pt;
    margin-bottom: 1em; /* restores spacing after the tag */
}

ul {
    list-style-type: disc; /* restores the bullet for line items */  
    list-style-position: inside;
}

header, #title-content, #body-content {
    background-color: #ffffff;
}

header {
    border-bottom: 2px solid #cccccc;
}

body {
    background-image: url('../images/circuit.png')
}

#title-content, #body-content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}

#title-content {
    height: 60px;
}

#title-text, #nav {
    position: absolute;
}

#title-text {
    left: 0px;
    bottom: 0px;
    background-color: #4aaaa5;
    height: 100%;
}

#myname {
    margin: 0px;
    padding: 10px;
    color: #ffffff;
}

#nav {
    right: 0px;
    bottom: 10px;
}

#body-heading {
    color: #4aaaa5;
}

#body-wrapper {
    padding: 40px 0px;
}

#horiz-rule {
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid #dddddd;
    margin-bottom: 15px;
}

#body-content {
    padding: 20px;
}

#my-photo {
    float: left;
    margin-right: 15px;
}

.frm-para {
    margin-top: 16px;
}

.navitem {
    display: inline-block; /* this is needed to provide a fixed width for <a> elements */
    text-align: center;
    text-decoration: none;
    width: 80px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a.navitem:hover {
    background-color: #4aaaa5;
    color: #ffffff;
}


.body-para, ul, li {
    line-height: 170%;
    margin-bottom: 1em; /* restores spacing after the tag */
}

.textinput {
    width: 100%;
    font-size: 12pt;
}

.multiline {
    height: 200px;
}

.btn {
    font-size: 12pt;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 10px 20px;
}

.col1of3, .col2of3, .col3of3 {
    width: 33.3%
}

.portfolio-item {
    width: 280px;
    height: 200px;
}

.portfolio-item-link {
    display: inline-block;
    position: relative;
    background-color: #4aaaa5;
    color: #ffffff;
    text-decoration: none;
    width: 280px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 16pt;
    top: -100px;

}

.portfolio-item-link:hover {
    background-color: #ffffff;
    color: #4aaaa5;
}

footer {
    position: fixed;
    text-align: center;
    background-color: #666666;
    color: #dddddd;
    width: 100%;
    border-top: 8px solid #4aaaa5;
    padding-top: 30px;
    font-size: 10pt;
    bottom: 0px;
}

@media screen and (max-width: 980px) {
    #title-content, #body-content {
        margin-left: 20px;
    }

    #body-wrapper {
        clear: both;
    }

    #body-content {
        width: 720px;
        margin-left: 20px;
        position: relative;
    }

    #title-content {
        width: 100%;
        margin-right: 40px;
    }
    
    #title-text {
        float: left;
        top: 0px;
        left: 0px;
        height: 60px;
        background-color: #4aaaa5;
    }
    #nav {
        float: right;
        top: 30px;
        right: 40px;
    }
    .col1of3, .col2of3 {
        width: 50%
    }

    .col3of3 {
        width: 0%;
    }
}

@media screen and (max-width: 768px) {
    #title-content, #body-content {
        margin-left: 20px;
    }

    #body-wrapper {
        clear: both;
    }

    #body-content {
        width: 720px;
        margin-left: 20px;
        position: relative;
    }

    #title-content {
        width: 100%;
        margin-right: 40px;
    }
    
    #title-text {
        float: left;
        top: 0px;
        left: 0px;
        height: 60px;
        background-color: #4aaaa5;
    }
    #nav {
        float: right;
        top: 30px;
        right: 40px;
    }

    .col1of3, .col2of3 {
        width: 50%
    }

    .col3of3 {
        width: 0%;
    }
}

@media screen and (max-width: 640px) {
    #title-content, #body-content {
        width: 600px;
        height: 100%;
        margin-left: 10px;
        position: static;
    }
    #title-text, #nav {
        position: static;
        width: 100%;
        text-align: center;
    }
    
    #title-text {
        /* left: 0px;
        bottom: 0px; */
        background-color: #4aaaa5;
        height: 100%;
    }
    #nav {
        /* right: 0px;
        bottom: 10px; */
        background-color: #ffffff;
    }
    .col1of3, .col2of3 {
        width: 100%;
        text-align: center;
    }

    .col3of3 {
        width: 0%;
    }

    td {
        float: left;
    }
}